/* Copied from https://github.com/microsoft/vscode/issues/53565#issuecomment-405448123 */

/* suggest-widget size */
.monaco-editor .suggest-widget.docs-side {
  width: 1200px;
}
.monaco-editor .suggest-widget.docs-side > .details {
  width: 70%;
  max-height: 1200px !important;
}
.monaco-editor .suggest-widget.docs-side > .tree {
  width: 30%;
  float: left;
}

/* parameter-hints-widget */
.editor-widget.parameter-hints-widget.visible {
  max-height: 1200px !important;
}
.monaco-editor .parameter-hints-widget > .wrapper {
  max-width: 1200px;
}

/* editor-hover */
.monaco-editor-hover .monaco-editor-hover-content {
  max-width: 1200px;
}
